body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Outfit", sans-serif;
    background-color: hsl(30, 18%, 87%);
}
.container{
    width: 40%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}
hr{
    
    color: hsl(24, 5%, 18%);
    width: 100%;
}
h1{
    padding: 0;
    margin:  1px;
    font-family: "Young Serif";
}
h2{
    padding: 0;
    margin-bottom: 0;

    font-family: "Young Serif";
    color:  hsl(14, 45%, 36%);
}
.prep-container{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
   width: 100%;
   box-sizing: border-box;
    padding: 10px;
}
.prep-container h2{
    font-family: "Young Serif";
    color: hsl(332, 51%, 32%);
}
img{
    align-self: center;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

li{
    padding: 5px;
    color: hsl(24, 5%, 18%);
}
ol li::marker{
    color:hsl(14, 45%, 36%);
}
ul li::marker{
    color:hsl(14, 45%, 36%);
}
span{
    color:  hsl(14, 45%, 36%);
}

.table-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.table-item-text{
    margin-left: 20px;
    margin-bottom: 0px;
}

.table-item-text2{
    width: 40%;
    margin-bottom: 0px;
    color:  hsl(14, 45%, 36%);
    font-weight: 700;
}

@media (max-width: 375px) {
    .container{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 0px;
    }
    img{
        position: absolute;
        top: 0;
        height: 200px;
        width: 100%;
        border-radius: 0px;
    }
    .space{
        height: 200px;
    }
}