@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Regular.ttf");
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 50px 100px;
    background-color: hsl(36, 100%, 99%);
}
h1{
  margin: 0px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo{
  height: 30px;
  width: 50px;
}

a{
   text-decoration: none;
   padding-left: 10px;
   color: hsl(236, 13%, 42%);
}

a:hover{
  color: hsl(5, 85%, 63%);
}
.top{
  display: flex;
  justify-content: start;
}


.top-main{
  flex-grow: 2;
  margin-right: 20px;
}
.top-side{
  flex-grow: 1;
  background-color: hsl(240, 100%, 5%);
  padding: 20px;
  color: white;
}
 .new{
  color: hsl(35, 77%, 62%);
 }
.row{
  display: flex;
  justify-content: start;
  align-items: start;

}
.row-title{
  margin: 0px;
  font-size: 52px;
  color: hsl(240, 100%, 5%);
  font-weight: bold;
}
.column-text{
  font-size: 18px;
  color:  hsl(236, 13%, 42%);

}
.read-more{
  height: 50px;
  width: 150px;
 
  background-color:hsl(5, 85%, 63%);
  color: white;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  justify-content: center;
}


.bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

article{
  font-size: 12px;
  display: flex;
  width: 25%;
}
.article-number{
  color: hsl(233, 8%, 79%);
  font-size: 40px;
}
.article-info{
  margin-left: 10px;
}
.article-header{
  color: hsl(240, 100%, 5%);

}
.article-image{
  height: 130px;
  width: 90px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px) {
  .desktop{
    display: none;
  }
}
@media (min-width: 376px) {
  .mobile{
    display: none;
  }
  .desktop{
    width: 100%;
    
  }
}